{% extends 'base.htm' %}
<html>
<head>
    <link rel="stylesheet" href="../static/style.css"/>
    {% block title %}Tryb gry{% endblock %}
</head>
{% block body %}
    <div class="form">
<h1>piłkarzyki</h1>
        <form action={{ url_for('user_form') }} method="post">
        <p>imię 1 gracza:
            <input type="text" name="names" required> </input>
        </p>

        <p>imię 2 gracza:
            <input type="text" name="names" required></input>
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
    </div>
{% endblock %}
</html>